@font-face {
  font-family: "iconfont"; /* Project id 4433911 */
  src: url('iconfont.woff2?t=1709356561197') format('woff2'),
       url('iconfont.woff?t=1709356561197') format('woff'),
       url('iconfont.ttf?t=1709356561197') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-gerenyonghutouxiang:before {
  content: "\e7e4";
}

.icon-shuzhuang:before {
  content: "\e656";
}

.icon-shuzhuang1:before {
  content: "\e657";
}

.icon-shoucangxuanzhong:before {
  content: "\e602";
}

.icon-wenbenbianjitianchong:before {
  content: "\e6d4";
}

.icon-ai-out:before {
  content: "\e642";
}

.icon-labelb:before {
  content: "\e61a";
}

.icon-touxiang:before {
  content: "\e679";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-shuju:before {
  content: "\e6da";
}

.icon-shoucang_weixuanzhong:before {
  content: "\e668";
}

.icon-fsux_tubiao_jindutiaotu:before {
  content: "\e603";
}

.icon-mianbaoxie:before {
  content: "\e609";
}

.icon-fuwenbenbianjiqi_zitiyanse:before {
  content: "\e655";
}

.icon-yanzhengma1:before {
  content: "\e601";
}

.icon-yanzhengma:before {
  content: "\e63d";
}

.icon-bianji:before {
  content: "\e630";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-dengchu:before {
  content: "\eb45";
}

.icon-mima:before {
  content: "\e600";
}

