html,
body {
  height: 100%;
  font-size: 12px;
}
#root {
  height: 100%;
}
.app-container {
  min-width: 800px;
  display: flex;
  height: 100%;
}
.app-container .leftBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container .leftBox .leftPic {
  width: 70%;
}
.app-container .rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
.app-container .rightBox .loginForm {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-container .rightBox .loginForm .loginMethod {
  display: flex;
  justify-content: center;
}
.app-container .rightBox .loginForm .loginMethod h4 {
  position: relative;
  height: 5rem;
  line-height: 60px;
  margin: 0 20px;
  font-family: '黑体';
  font-weight: 700;
  color: #A3AFB6;
}
.app-container .rightBox .loginForm .loginMethod h4.active {
  color: #000;
}
.app-container .rightBox .loginForm .loginMethod h4.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #0d6efd;
}
.app-container .rightBox .loginForm .form {
  display: none;
  text-align: center;
  width: 100%;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.woff2?t=1709355712871') format('woff2'), url('../font/iconfont.woff?t=1709355712871') format('woff'), url('../font/iconfont.ttf?t=1709355712871') format('truetype');
}
.app-container .rightBox .loginForm .form .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container .rightBox .loginForm .form .input-group {
  width: 70%;
  margin: 0 auto;
}
.app-container .rightBox .loginForm .form .input-group .input-group-text {
  border-right: 0;
  background-color: #fff;
}
.app-container .rightBox .loginForm .form .input-group input {
  width: 70%;
  height: 4.5rem;
  font-size: 1.25rem;
  margin: 0 auto;
  border-left: 0;
}
.app-container .rightBox .loginForm .form button {
  width: 70%;
  height: 4.5rem;
}
.app-container .rightBox .loginForm form.active {
  display: block;
}
